<div class="card">
  <h5>Manage Patient</h5>
  <div class="flex-container">
    <p-button class="patient-info-button">
      <img
        alt="logo"
        src="https://primefaces.org/cdn/primeng/images/primeng-icon.svg"
        style="width: 1.5rem"
      />
      <span class="ml-2 font-bold">Information</span>
    </p-button>
    <p-button class="patient-info-button">
      <img
        alt="logo"
        src="https://primefaces.org/cdn/primeng/images/primeng-icon.svg"
        style="width: 1.5rem"
      />
      <span class="ml-2 font-bold">Insurances</span>
    </p-button>
    <p-button class="patient-info-button">
      <img
        alt="logo"
        src="https://primefaces.org/cdn/primeng/images/primeng-icon.svg"
        style="width: 1.5rem"
      />
      <span class="ml-2 font-bold">Cases</span>
    </p-button>
    <p-button class="patient-info-button">
      <img
        alt="logo"
        src="https://primefaces.org/cdn/primeng/images/primeng-icon.svg"
        style="width: 1.5rem"
      />
      <span class="ml-2 font-bold">Documents</span>
    </p-button>
  </div>
</div>