<div class="card">
  <h5>Manage Patient</h5>
  <div class="flex flex-wrap">
    <div class="grid">
      <div class="col-3">
        <p-button>
          <img
            alt="logo"
            src="https://primefaces.org/cdn/primeng/images/primeng-icon.svg"
            style="width: 1.5rem"
          />
          <span class="ml-2 font-bold">Information</span>
        </p-button>
      </div>
      <div class="col-3">
        <p-button>
          <img
            alt="logo"
            src="https://primefaces.org/cdn/primeng/images/primeng-icon.svg"
            style="width: 1.5rem"
          />
          <span class="ml-2 font-bold">Insurances</span>
        </p-button>
      </div>
      <div class="col-3">
        <p-button>
          <img
            alt="logo"
            src="https://primefaces.org/cdn/primeng/images/primeng-icon.svg"
            style="width: 1.5rem"
          />
          <span class="ml-2 font-bold">Cases</span>
        </p-button>
      </div>
      <div class="col-3">
        <p-button>
          <img
            alt="logo"
            src="https://primefaces.org/cdn/primeng/images/primeng-icon.svg"
            style="width: 1.5rem"
          />
          <span class="ml-2 font-bold">Documents</span>
        </p-button>
      </div>
    </div>
  </div>
</div>
